body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.dog_img {
	width: auto;
	opacity: 0;
	transition: all 5s;
	/* animation: fade 0.5s; */
}

.practice_form {
	width: 20%;
	display: flex;
	flex-direction: column;
}

.practice_form__title_input {
	border-radius: 15px;
	border: 1px solid black;
	margin-bottom: 10px;
}

.practice_form__details_input {
	margin-bottom: 10px;
}

.practice_form__submit_button {
	border-radius: 15px;
	border: 1px solid black;
}
